{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Commission{% endblock %}
{% block page_header %}Request received{% endblock %}
{% block content %}
<p>I have received your requests and am working up some little studies completely
    free of charge for you to look at. 
</p>
<h2>Your chosen title of the piece: {{ request_submitted.title }}</h2>
<p>Description of how you want it painted: {{ request_submitted.details }}</p>
<img src="{{ MEDIA_URL }}{{ request_submitted.image }}" alt="{{ request_submitted.title }}" class="img-thumbnail">
{% endblock %}