{% extends 'base.html' %}
{% block page_title %}Auction{% endblock %}
{% block page_header %}Bid for my original works{% endblock %}
{% block content %}
<div class="card-group">
    {% for original in originals %}
    <div class="card text-white bg-dark" style="width: 18rem; margin: 5%;">
        <div class="card-header">
            <h5 class="card-title">{{original.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ original.size }}</h6>
        </div>
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ original.image }}" alt="{{ original.title }}">
        <div class="card-body">
                <p class="card-text">{{ original.description|truncatewords:20 }}<a href="#">More details</a></p>
                <button class="minus" disabled>-</button>
                <span class="quantity" name="quantity">1</span>
                <button class="plus">+</button>
                <h4>£{{ original.price }}</h4>
        </div>
    </div>
    {% endfor %} 
</div>
<button class="btn-success">Checkout</button>
{% endblock %}