{% extends 'base.html' %}
{% block page_title %}Prints{% endblock %}
{% block page_header %}Buy my Prints{% endblock %}
{% block content %}
<div class="card-group">
    {% for print in prints %}
    <div class="card text-white bg-dark" style="width: 18rem; margin: 5%;">
        <div class="card-header">
            <h5 class="card-title">{{print.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ print.size }}</h6>
        </div>
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ print.image }}" alt="{{ print.title }}">
        <div class="card-body">
            <p class="card-text">{{ print.description|truncatewords:20 }}<a href="#">More details</a></p>
                <button class="minus" disabled>-</button>
                <span class="quantity" name="quantity">1</span>
                <button class="plus">+</button>
                <form action="" method="post">
                    {% csrf_token %}
                    <button class="add-to-cart" type="submit" value="1">Add to Cart</button>
                </form>
        </div>
    </div>
    {% endfor %} 
</div>
{% endblock %}