{% extends 'base.html' %}
{% load static %}
{% block page_title %}Prints{% endblock %}
{% block page_header %}Buy my Prints{% endblock %}
{% block content %}
<div class="card-group">
    {% for print in prints %}
    <div class="card text-white bg-dark" style="width: 18rem; margin: 5%;">
        <div class="card-header">
            <h5 class="card-title">{{print.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ print.size }}</h6>
        </div>
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ print.image }}" alt="{{ print.title }}">
        <div class="card-body">
            <p class="card-text">{{ print.description }}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    {% endfor %} 
</div>
{% endblock %}