{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block head_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2/">
    //<![CDATA[
    Stripe.setPublishableKey = 'pk_test_oGzjqmtiyqFycxaJ7nO1aTgL';
    //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% block page_title %}Checkout{% endblock %}
{% block page_header %}Checkout{% endblock %}
{% block content %}
    <div class="errorList" id="card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    {% for item in cart_items %}
        <div class="row cart">
            <div class="cart__image">
                <img src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ print.title }}" class="img-thumbnail">
            </div>
            <div>
                <h3>{{ item.product.title }}</h3>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Price: £{{ item.product.price }}</p>
            </div>
        </div>
    {% endfor %}
        <div class="cart-total">
            <h6>Total: £{{ total }}</h6>
        </div>
        <form id="payment-form" role="form" method="post" action="{% url 'checkout' %}">
            <div class="row">
                <div>
                    <h4>Delivery Address</h4>
                    {{ order_form|crispy }}
                </div>
                <div id="card-element">
                    <h4>Card Details</h4>
                    {{ payment_form|crispy }}
                </div>
            </div>
            {% csrf_token %}
            <div>
                <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
            </div>
        </form>
{% endblock %}